<ion-content [fullscreen] = 'true'>
    <ion-header [translucent] = 'true'>
        <ion-toolbar>
            <ion-title>
                Add a new Serial
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <form #serialForm = 'ngForm' (ngSubmit) = 'addNewSerial()'>
        <ion-item>
            <ion-label position = 'floating'>Serial Name</ion-label>
            <ion-input [(ngModel)] = 'serial.sName'
                       name = 'name'
                       placeholder = 'Enter Serial Name'
                       required = 'true'
                       type = 'string'>
            </ion-input>
        </ion-item>


        <ion-item>
            <ion-label position = 'floating'>Serial Episode</ion-label>
            <ion-input [(ngModel)] = 'serial.sEpisode'
                       name = 'episode'
                       placeholder = 'Enter Serial Episode Number'
                       required = 'true'
                       type = 'number'>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position = 'floating'>Serial Season</ion-label>
            <ion-input [(ngModel)] = 'serial.sSeason'
                       name = 'season'
                       placeholder = 'Enter Serial Season Number'
                       type = 'number'>
            </ion-input>
        </ion-item>

        <ion-button [disabled] = 'serialForm.invalid'
                    color = 'success'
                    expand = 'block'
                    type = 'submit'>
            Add new Serial
        </ion-button>

        <ion-button (click) = 'reset()'
                    color = 'danger'
                    expand = 'block'
                    type = 'reset'>
            Reset!
        </ion-button>
    </form>
</ion-content>
